<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card mb-3" style="max-width: 840px;" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/image/barberhome.jpg" class="img-fluid rounded-start" alt="..." width="300rem" height="250rem">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">aboutus</h5>
              <p class="card-text">The founder of the business, Karen Waldron, started her barbering career as an inexperienced 17 year <br> old working in a ‘spit and sawdust’ barber shop in Oxford. As one of the very first women to enter <br> into this male dominated world, Karen could clearly see a gap in the market away from the impersonal <br> experience of a traditional barbers and the perming lotions and colourings of the unisex hairdresser.</p>
              
            </div>
          </div>
        </div>
      </div>
</body>
</html>