<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Choose Any Hairstyle</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="/assets/image/hr2.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">
            his haircuts  rs= 350-Onliye
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/hr3.jpg" class="card-img-top" alt="Palm Springs Road" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">
            This haircuts  rs= 350-Onliye
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/hr5.jpeg" class="card-img-top" alt="Los Angeles Skyscrapers" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">Mens haircuts short hair rs=450</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/hr6.jpg" class="card-img-top" alt="Skyscrapers" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">
           This haircuts  rs= 300-Onliye.
          </p>
        </div>
      </div>
    </div>
  </div><div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="/assets/image/hr7.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">
           This haircuts  rs= 500-Onliye.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card"> 
        <img src="/assets/image/barberstyle.avif" class="card-img-top" alt="Palm Springs Road" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">
           This haircuts  rs= 450-Onliye
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/barberstyle2.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">This haircuts  rs= 350-Onliye.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/barberstyle3.jpg" class="card-img-top" alt="Skyscrapers" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">
            This haircuts  rs= 600-Onliye
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="/assets/image/barberstyle3.jpg" class="card-img-top" alt="Hollywood Sign on The Hill" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">
            This haircuts  rs= 350-Onliye.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/barber second page.jpg" class="card-img-top" alt="Palm Springs Road" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">
            This haircuts  rs= 150-Onliye.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/home4.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" height="500px">
        <div class="card-body">
          <h5 class="card-title">Hairstyle</h5>
          <p class="card-text">This haircuts  rs= 350-Onliye</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/hr1.jpg" class="card-img-top" alt="Skyscrapers" height="500px"/>
        <div class="card-body">
          <h5 class="card-title">Heir Style </h5>
          <p class="card-text">
            This haircuts  rs= 350-Onliye.
          </p>
        </div>
      </div>
    </div>
    </div>
</body>
</html>