<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>The New Heair Style Arrived Heare</h2>
<div class="card mb-3" height="400px">
    <img src="/assets/image/baarbere3.jpge.jpg" class="card-img-top" alt="barber" width="650px" width="550vw" height="550vh">
    <div class="card-body">
      <h5 class="card-title">Sleek Snips.</h5>
      <p class="card-text">the barber shaves himself then he is a man on the island who shaves himself hence <br> he, the barber, does not shave himself. If the barber does not shave himself then he is <br>
         a man on the island who does not shave himself hence he, the barber, shaves him(self).</p>
    
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Russell's paradox (and similar issues) was eventually resolved by an axiomatic set theory called ZFC, after Zermelo, Franekel, and Skolem,<br> which gained widespread acceptance after the axiom of choice was no longer controversial.</p>
      
    </div>
    <img src="/assets/image/barber second page.jpg" class="card-img-bottom" alt="" height="650px">
  </div>

  <div class="card mb-3">
    <img src="/assets/image/home5.jpg" class="card-img-top" alt="..." height="650px">
    <div class="card-body">
      <h5 class="card-title">No Grease.</h5>
      <p class="card-text">Here are some thought-provoking paradox examples:
        Save money by spending it.
        If I know one thing, it's that I know nothing.
        This is the beginning of the end.
        Deep down, you're really shallow.
        I'm a compulsive liar.
        "Men work together whether they work together or apart." - Robert Frost.</p>
      
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">His and Hairs.</h5>
      <p class="card-text">We, very often, consciously or unconsciously live life linearly, solving <br> problems through logical processes while prodding our intellect to understand life through reducing it to its parts and then <br> trying to put them together in different patterns to try and make sense of it all.</p>
      
    </div>
    <img src="/assets/image/home4.jpg" class="card-img-bottom" alt="..." height="650px">
  </div>
</body>
</html>